
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";



/*
 css for app page
*/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: linear-gradient(to bottom, white, white 50%, #3e3e3e 50%, #3e3e3e);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #3e3e3e;
}


/*
css for carousel page
*/

.wrapper {
  max-height: 100%;
}

.carousel {
  width: 100%;
  overflow: hidden;
  border: 5px solid white;
}

/*
css for email page
*/

.emailForm {
  width: 540px;
}

.btn-lg {
  border-radius: 0;
}

.john_pic {
  float: left;
}

#info {
  color: white;
}

/*
css for header and footer pages
*/

h2 {
  font-family: 'Droid Serif', serif;
  font-style: italic;
  font-size: 18pt;
  float: left;
  font-weight: lighter;
  line-height: 120px;
}

.nav.navbar-nav {
  float: right;
  margin: 50px;
}

/*
css for information page
*/

.container.information {
    font-family: 'Droid Serif', serif;
    color: #e5e5e5;
}

.welcome_caption {
    text-align: center;
    font-size: 26px;
}

.beautiful_caption {
    text-align: center;
    font-size: 65px;
}

.container.information li {
display: block;
width: 32%;
float: left;
margin: 7px;
}

/*
css for portfolio page
*/

.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}

#left,#right {
  top:56%;
  opacity:1;
}

.col-sm-6.right-picture {
  top: 85px;
  left: 15px;
}
